<!-- <md-content class="general-content layout-padding">
  <div layout="row" layout-wrap>
    <div class="" flex="100" flex-gt-sm="50" layout="row">
      <div class="row marketing">
        <h4>Email</h4>
        <p>
          harmeet4855@gmail.com | s.harmeet@iitg.ernet.in
        </p>
        <h4>Phone</h4>
        <p>
           +91 9706953531 
        </p>
        <h4>Address</h4>
        <p>Room B-302, Manas Hostel, IIT Guwahati, Assam - 781039</p>
      </div>
    </div>
  </div>
</md-content> -->

<md-content class="general-content layout-padding">
  <div layout="row" layout-wrap>
    <div flex="100">
      <md-card>
        <iframe style="height: 400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|18|26.188749394937172|91.70287976186296"></iframe>
        <md-card-content>
          <div class="">
            <h4>Email</h4>
            <p>
              harmeet4855@gmail.com | s.harmeet@iitg.ernet.in
            </p>
            <h4>Phone</h4>
            <p>
               +91 9706953531 
            </p>
            <h4>Address</h4>
            <p>Room B-302, Manas Hostel, IIT Guwahati, Assam - 781039</p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>