<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="User Experience">
    <md-content layout-padding>
      <!-- <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">User Experience based projects</h1>
      </div> -->
      <div layout="row" layout-wrap>
        <div class="clickable" ng-if="project.ux" ng-click="projectsCtrl.goToProject(project.state)" flex="25" flex-sm="50"
             flex-md="25" flex-xs="100" ng-repeat="project in projectsCtrl.projects" layout="column">
          <md-card class="click-cards">
            <img ng-src="{{project.thumb}}" class="md-card-image" alt="{{project.name}}">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{project.name}}</span>
                <span class="md-subhead"><b>{{project.keywords}}</b></span>
              </md-card-title-text>
            </md-card-title>            
            <md-card-content class="project-card-content">
              <p class="md-body-1">
                {{project.desc}}
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-accent" ng-click="projectsCtrl.goToProject(project.state)">Read more</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="Web Development">
    <md-content layout-padding>
      <!-- <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Web Development based projects</h1>
      </div> -->
      <div layout="row" layout-wrap>
        <div class="clickable" ng-if="project.web" ng-click="projectsCtrl.goToProject(project.state)" flex="25" flex-sm="50"
             flex-md="25" flex-xs="100" ng-repeat="project in projectsCtrl.projects" layout="column">
          <md-card class="click-cards">
            <img ng-src="{{project.thumb}}" class="md-card-image" alt="{{project.name}}">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{project.name}}</span>
                <span class="md-subhead"><b>{{project.keywords}}</b></span>
              </md-card-title-text>
            </md-card-title>            
            <md-card-content class="project-card-content">
              <p class="md-body-1">
                {{project.desc}}
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-accent" ng-click="projectsCtrl.goToProject(project.state)">Read more</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
