<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Project-Detailed">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Brief</h1>
        <div layout="row" flex layout-wrap>
          <md-list-item flex-gt-md="50" flex="100" class="summary-header md-3-line md-long-text">
            <div class="md-list-item-text">
              <div>
                  <p class="project-brief">
                      <span>
                          <strong>
                              <span>Project Description</span>:
                          </strong> 
                          Adobe Internship Project, Anigo involved creating an end-to-end solution for Youtubers, Social Media Managers, Video Instructors etc. to help them create high quality video and animation content for Social Media.
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Status</span>:
                          </strong> 
                          Completed Design Part(Without evaluation)
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Client</span>:
                          </strong>
                          Adobe Systems(DVA Team) 
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Mentor</span>:
                          </strong> 
                          Randeep Singh, Lead Designer, Adobe 
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Manager</span>:
                          </strong> 
                          Vinay Dixit, Director UX India, Adobe
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Duration</span>:
                          </strong>
                          May'16 - Jul'16
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Design Responsibilities</span>:
                          </strong>
                          Work involved Market Research, Literature Review, User Understanding, Defning Guidelines, Creating Taskflows
                          and gaps, Generating Data Flow Diagram, Developing system defnition, Ideation, Conceptualising Final Solution, Wireframing.
                      </span>                    
                  </p>
              </div>
            </div>
          </md-list-item>
          <div class="use-case" flex-gt-md="80" flex="100">
             <md-card>
                <img ng-repeat="image in anigoCtrl.images" ng-src="{{image}}" class="md-card-image">
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="Deliverables">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Deliverables</h1>
        <div layout="row" flex layout-wrap>
          <div flex-gt-md="80" flex="100">
            <md-card>
              <img ng-repeat="deliverable in anigoCtrl.deliverables" ng-src="{{deliverable}}" class="md-card-image">
            </md-card>
          </div>
        </div>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
