<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Project-Detailed">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <!-- <h1 class="projects-type md-display-1">Brief</h1> -->
        <div layout="row" flex layout-wrap>
          <md-list-item flex-gt-md="50" flex="100" class="summary-header md-3-line md-long-text">
            <div class="md-list-item-text">
              <div>
                  <p class="project-brief">
                      <span>
                          <strong>
                              <span>Project Description</span>:
                          </strong> 
                          Submission for Student Design Competition, for CHI’16 Conference. Had to come up with an assistive technology for users that present different and often challenging needs. Came up with Saathi, a smart watch which taps the problem of lack of time perception amongst children with learning disabilities, by displaying time in the form of visuals, audio feedback and images from the daily life of children, the ones they are familiar with.
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Status</span>:
                          </strong> 
                          <span class="highlight-text">Won the Student Design Competition for CHI'16</span> held in San Jose, California. Also Research paper was published in ACM Digital Library. 
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Client</span>:
                          </strong>
                          ACM-CHI'16 Student Design Competition
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Guide</span>:
                          </strong> 
                          Asst. Prof. Abhishek Srivastava 
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Duration</span>:
                          </strong>
                          Oct'15 - Jan'16
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Design Responsibilities</span>:
                          </strong>
                          Work involved literature review, Field Visits and Contextual Inquiry, Competitor analysis, Affinity Analysis, Brainstorming, Information Architecture, Prototyping, User Testing and Evaluation.
                      </span>                    
                  </p>
              </div>
            </div>
          </md-list-item>
          <div class="use-case" flex-gt-md="80" flex="100">
             <md-card>
                <img ng-repeat="image in saathiCtrl.images" ng-src="{{image}}" class="md-card-image">
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="Deliverables">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <!-- <h1 class="projects-type md-display-1">Deliverables</h1> -->
        <div layout="row" flex layout-wrap>
          <div flex-gt-md="80" flex="100" ng-repeat="deliverable in saathiCtrl.deliverables">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">{{deliverable.name}}</span>
                  <span class="md-subhead">{{deliverable.desc}}</span>
                </md-card-header-text>
              </md-card-header>
              <md-divider></md-divider>
              <img ng-src="{{deliverable.thumb}}" class="md-card-image">
            </md-card>
          </div>
          <div flex-gt-md="80" flex="100">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">Video Submission</span>
                  <span class="md-subhead">PRODUCT VIDEO FOR CONFERENCE</span>
                </md-card-header-text>
              </md-card-header>
              <md-divider></md-divider>
              <iframe src="https://www.youtube.com/embed/QPbrZjWg4LA" 
              frameborder="0" allowfullscreen>
              </iframe>
            </md-card>
          </div>
          <div flex="100">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">Published Paper</span>
                  <span class="md-subhead">PAPER ACCEPTED FOR CONFERENCE</span>
                </md-card-header-text>
              </md-card-header>
              <md-divider></md-divider>
              <object class="resume" data="images/saathi/paper.pdf"></object>
            </md-card>
          </div>
        </div>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
