<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Brief">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Brief</h1>
        <div layout="row" flex layout-wrap>
          <md-list-item flex-gt-md="50" flex="100" class="summary-header md-3-line md-long-text">
            <div class="md-list-item-text">
              <div>
                  <p>
                      <span>
                          <strong>
                              <span>Project Description</span>:
                          </strong> 
                          Submission for Student Design Competition, for CHI’16 Conference. Had to come up with an assistive technology for users that present different and often challenging needs. Came up with Saathi, a smart watch which taps the problem of lack of time perception amongst children with learning disabilities, by displaying time in the form of visuals, audio feedback and images from the daily life of children, the ones they are familiar with.
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Status</span>:
                          </strong> 
                          Selected in top 12 teams in the Student Design Competition held internationally. Also Research paper accepted to be presented at CHI’16 Conference to be held in San Jose, California. 
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Client</span>:
                          </strong>
                          ACM-CHI'16 Student Design Competition
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Guide</span>:
                          </strong> 
                          Asst. Prof. Abhishek Srivastava 
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Duration</span>:
                          </strong>
                          Oct'15 - Jan'16
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Design Responsibilities</span>:
                          </strong>
                          Work involved literature review, Field Visits and Contextual Inquiry, Competitor analysis, Affinity Analysis, Brainstorming, Information Architecture, Prototyping, User Testing and Evaluation.
                      </span>                    
                  </p>
              </div>
            </div>
          </md-list-item>
          <div class="use-case" flex-gt-md="80" flex="100">
             <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title">Use Case</span>
                    <span class="md-subhead">Infographic</span>
                  </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <img src="images/mobcustom/mobcustom_1.jpg" class="md-card-image">
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </md-tab>
<!--   <md-tab label="Use Case">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Use Case</h1>
          <div layout="row" flex layout-wrap>
            <md-list-item  flex="100" class="summary-header md-3-line md-long-text">
              <div class="md-list-item-text">
                <p>
                  Web development is a broad term for the work involved in developing a web site for the Internet
                  (World Wide Web) or an intranet (a private network). Web development can range from developing the simplest
                  static single page of plain text to the most complex web-based internet applications, electronic businesses, and
                  social network services.
                </p>
              </div>
            </md-list-item>
            <div flex-offset-gt-md="10" flex-gt-md="80" flex="100">
             <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title">Use Case</span>
                    <span class="md-subhead">Infographic</span>
                  </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <img src="images/sigcloud/use-case.jpg" class="md-card-image">
              </md-card>
            </div>
          </div>
      </div>
    </md-content>
  </md-tab> -->
  <md-tab label="Methodology">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Methodology</h1>
        <div layout="row" flex layout-wrap>
            <div flex-gt-sm="{{method.size}}" flex="100" ng-repeat="method in saathiCtrl.methods">
             <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title">{{method.name}}</span>
                    <span class="md-subhead">{{method.desc}}</span>
                  </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <img ng-src="{{method.thumb}}" class="md-card-image">
              </md-card>
            </div>
          </div>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="Deliverables">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Deliverables</h1>
        <div layout="row" flex layout-wrap>
            <div flex="100">
              <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title">Video Submission</span>
                    <span class="md-subhead">Conceptualisation and Product Video</span>
                  </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <iframe src="https://www.youtube.com/embed/nbS9dEYc8c0" 
                frameborder="0" allowfullscreen>
                </iframe>
               <!--  <video controls class="md-card-video">
                  <source src="images/saathi/deliverable1.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video> -->
              </md-card>
            </div>
            <div flex="100" ng-repeat="deliverable in saathiCtrl.deliverables">
              <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title">{{deliverable.name}}</span>
                    <span class="md-subhead">{{deliverable.desc}}</span>
                  </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <img ng-src="{{deliverable.thumb}}" class="md-card-image">
              </md-card>
            </div>
          </div>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
