<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Project-Detailed">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <!-- <h1 class="projects-type md-display-1">Brief</h1> -->
        <div layout="row" flex layout-wrap>
          <md-list-item flex-gt-md="50" flex="100" class="summary-header md-3-line md-long-text">
            <div class="md-list-item-text">
              <div>
                  <p class="project-brief">
                      <span>
                          <strong>
                              <span>Project Description</span>:
                          </strong> 
                          Based on OZCHI'15 Student Design Challenge to come up with a design solution to cater the problem of social isolation in a scenario of choice. Sociotags, which are color coded smart tags, brought in place of Airport handbag tags, are proposed as solution, which try to depict the similarity of interests in people travelling and motivate them to interact with eachother.
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Status</span>:
                          </strong> 
                          Selected in top 6 teams(Runner-ups) in the Student Design Challenge held internationally. Also Research paper accepted to be presented in the USB Proceedings of OZCHI’15 Conference to be held in Melbourne, Australia. 
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Client</span>:
                          </strong>
                          OZCHI'15 Student Design Challenge
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Project Duration(For Submission after Reviews and Selection)</span>:
                          </strong>
                          Aug'15
                      </span>
                      <br>
                      <span>
                          <strong>
                              <span>Design Responsibilities</span>:
                          </strong>
                          Work involved literature review, searching scenarios, filtering them, picking a scenario and
                          brainstorming over possible solutions, making personas, coming up with mental models and final prototypes.
                      </span>
                      <br>
                  </p>
              </div>
            </div>
          </md-list-item>
          <div class="use-case" flex-gt-md="80" flex="100">
            <md-card>
              <img ng-repeat="image in sociotagsCtrl.images" ng-src="{{image}}" class="md-card-image">
            </md-card>
          </div>
        </div>
      </div>
    </md-content>
  </md-tab>
<!--   <md-tab label="Methodology">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <h1 class="projects-type md-display-1">Methodology</h1>
        <div layout="row" flex layout-wrap>
            <div flex-gt-sm="{{method.size}}" flex="100" ng-repeat="method in sociotagsCtrl.methods">
             <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title">{{method.name}}</span>
                    <span class="md-subhead">{{method.desc}}</span>
                  </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <img ng-src="{{method.thumb}}" class="md-card-image">
              </md-card>
            </div>
          </div>
      </div>
    </md-content>
  </md-tab> -->
  <md-tab label="Deliverables">
    <md-content layout-padding>
      <div layout="column" class="projects-type-header">
        <!-- <h1 class="projects-type md-display-1">Deliverables</h1> -->
        <div layout="row" flex layout-wrap>            
          <div flex="100" flex-gt-sm="80" ng-repeat="deliverable in sociotagsCtrl.deliverables">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">{{deliverable.name}}</span>
                  <span class="md-subhead">{{deliverable.desc}}</span>
                </md-card-header-text>
              </md-card-header>
              <md-divider></md-divider>
              <img ng-src="{{deliverable.thumb}}" class="md-card-image">
            </md-card>
          </div>
          <div flex-gt-sm="80" flex="100">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">Video Submission</span>
                  <span class="md-subhead">CONCEPTUALISATION AND PRODUCT VIDEO</span>
                </md-card-header-text>
              </md-card-header>
              <md-divider></md-divider>
              <iframe src="https://www.youtube.com/embed/LyK6q5aklUQ" 
              frameborder="0" allowfullscreen>
              </iframe>       
            </md-card>
          </div>
        </div>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
