@import url(icon.css);

md-sidenav{
  position: fixed !important;
}

.responsive{
  max-width: 100%;
}

.clickable{
  cursor: pointer !important;
}

.clickable:focus{
  cursor: pointer !important;
  outline: none;
}

.active {
  border-right: 4px solid #46A693;
}

md-toolbar {
  background-color: rgba(255, 255, 255, 0.90) !important;
  color: rgb(117, 117, 117) !important;
}

.main-toolbar{
  position: fixed;
}

md-tabs-wrapper {
  background-color: rgba(255, 255, 255, 0.90) !important;
  z-index: 1;
  position: fixed;
  top: 64px;
  width: 100%;
}

md-ink-bar{
  height: 3px;
}

md-tabs-content-wrapper {
  margin-top: 113px;
}

.toolbar-icons {
  color: rgba(0, 0, 0, 0.54) !important;
}

.navigate-up{
  padding: 0px !important;
  width: initial !important;
}

md-list {
  padding: 0px;
}

.profile > button {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}

.profile > button > div {
  font-size: 30px;
  font-weight: 300;
}

.md-avatar {
  margin-top: 0px !important;
  width: 70px !important;
  height: 70px !important;
}

md-list-item > a:hover, md-list-item > button:hover {
  background-color: rgb(240, 243, 255) !important;
  /*border-right: 4px solid #46A693;*/
}

md-list-item > a {
  margin: 0px !important;
}

md-list-item > a > div {
  padding-top: 10px;
  padding-left: 10px;
}

md-list-item > button > div {
  padding-left: 10px;
}

md-grid-list{
  margin-left: 15px;
  margin-right: 15px;
}

md-grid-tile{
  background-repeat: no-repeat;
  background-size: contain;
}

/*.projects-type{*/
  /*font-size: 30px;*/
  /*font-weight: 300;*/
/*}*/

.projects-type-header{
  padding-left: 15px;
  padding-right: 15px;
}

.summary-header{
  margin: 0px !important;
  padding: 0px !important;
}

/*media quries*/
@media screen and (min-width: 925px) and (max-width: 960px) {
  md-tabs-wrapper{
    top: 48px;
  }
}

@media screen and (max-width: 925px) {
  md-tabs-wrapper{
    top: 56px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1620px) {
  .content-container{
    margin-left: 20%;
  }
}

@media screen and (min-width: 1620px) {
  .content-container{
    margin-left: 320px;
  }
}