@import url(icon.css);
body {
  font-family: "Montserrat";
}
/*
body {
  font-family: "Open Sans";
}
*/
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*video {
    height:100% !important;
    width: 100% !important;
}*/

iframe, object, embed {
        max-width: 100%;
        height: 855px;
}

md-sidenav {
    position: fixed !important;
}

.general-content{
    margin-top: 65px;
}

.md-display-1 {
    font-size: 24px;
}

.md-subhead {
    font-size: 15px;
}

.md-headline {
    font-size: 20px;
}

md-card-actions>.md-button{
    text-transform: capitalize !important;
    color: #E7145B !important;
}

.md-display-1,
.md-display-2,
.md-display-3,
.md-headline {
    color: #757575;
}

.responsive {
    max-width: 100%;
}

.md-card-image {
    overflow-y: auto;
}
/*
md-content{
    background-image: url("../images/saathi/bg.jpg");
}*/

/*.md-card-video {
    overflow-y: auto;
    width: 100%;
}
*/
.clickable {
    cursor: pointer !important;
}

.click-cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transition-property: box-shadow, background-color;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1), cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: initial, initial;
}

.clickable:focus {
    cursor: pointer !important;
    outline: none;
}

.active {
/*    border-right: 4px solid rgb(255,64,129);
*/    border-right: 4px solid #E7145B;
}

md-toolbar {
    background-color: rgba(255, 255, 255, 0.90) !important;
    color: rgb(117, 117, 117) !important;
}

.main-toolbar {
    position: fixed;
}

md-tabs-wrapper {
    background-color: rgba(255, 255, 255, 0.90) !important;
    z-index: 1;
    position: fixed;
    top: 64px;
    width: 100%;
}

/*#E7145B*/
/*#00984C*/

md-ink-bar {
  background: #E7145B !important;
    height: 3px;
}

md-tabs-content-wrapper {
    margin-top: 113px;
}

.toolbar-icons {
    color: rgba(0, 0, 0, 0.54) !important;
}

.navigate-up {
    padding: 0px !important;
    width: initial !important;
}

md-list {
    padding: 0px;
}

.profile > button {
    padding-top: 17px !important;
    padding-bottom: 17px !important;
}

.profile > button > div {
    font-size: 28px;
/*    color: #7AD3BE;
*/ 
    color: #757575;
   font-weight: 300;
}

.md-avatar {
    margin-top: 0px !important;
    width: 70px !important;
    height: 70px !important;
}

md-list-item > a:hover,
md-list-item > button:hover {
    background-color: rgb(240, 243, 255) !important;
    /*border-right: 4px solid #E7145B;*/
}

md-list-item > a {
    margin: 0px !important;
}

md-list-item > a > div {
    padding-top: 10px;
    padding-left: 10px;
}

md-list-item > button > div {
    padding-left: 10px;
}

md-grid-list {
    margin-left: 15px;
    margin-right: 15px;
}

md-grid-tile {
    background-repeat: no-repeat;
    background-size: contain;
}

.md-fab{
  background-color: #E7145B  !important;
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.use-case{
    padding-top: 20px;
}

.md-3-line{
    min-height: 0px !important;
}

/*.projects-type{*/


/*font-size: 30px;*/


/*font-weight: 300;*/


/*}*/

.projects-type-header {
    padding-left: 15px;
    padding-right: 15px;
}

.summary-header {
    margin: 0px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
}

md-tab-item>span {
    color: rgba(0, 0, 0, 0.54);
}

#hidden-menu{
    display:none;
}

/*media quries*/

@media screen and (min-width: 640px) and (max-width: 960px) {
    md-tabs-wrapper {
        top: 48px;
    }

    iframe, object, embed {
        height: 400px;
    }
}


/*@media screen and (min-width: 640px) and (max-width: 925px) {
  md-tabs-wrapper{
    top: 48px;
  }
}

@media screen and (min-width: 415px) and (max-width: 640px) {
  md-tabs-wrapper{
    top: 48px;
  }
}
*/

@media screen and (min-width: 960px) and (max-width: 1280px) {
    iframe, object, embed {
        height: 550px;
    }
}

@media screen and (max-width: 640px) {
    md-tabs-wrapper {
        top: 56px;
    }

    iframe, object, embed {
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    iframe, object, embed {
        height: 150px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1620px) {
    .content-container {
        margin-left: 20%;
    }

    iframe, object, embed {
        height: 650px;
    }
}

@media screen and (min-width: 1620px) {
    .content-container {
        margin-left: 320px;
    }
}
