@import url(icon.css);

@font-face {
  font-family: 'Montserrat-Light';
  /*font-family: 'Raleway-SemiBold';*/
  font-style: normal;
  src: url('fonts/montserrat/Montserrat-Light.otf');
  /*src: url('fonts/raleway/Raleway-SemiBold.ttf');*/
  
/*  font-family: 'Raleway-Regular';
  src: url('fonts/montserrat/Montserrat-Light.otf');
  src: url('fonts/raleway/Raleway-Regular.ttf');*/
}


@font-face {
  font-family: 'ProductSans-Regular';
  font-style: normal;
  src: url('fonts/ProductSans-Regular.ttf');
}

/*
@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  src: url('fonts/raleway/Raleway-Regular.ttf');
}*/

body {
  font-family: "ProductSans-Regular";
}
/*
body {
  font-family: "Open Sans";
}
*/
input,
button,
select,
textarea {
  font-family: 'ProductSans-Regular' !important;
  font-size: inherit;
  line-height: inherit;
}

/*video {
    height:100% !important;
    width: 100% !important;
}*/

.resume{
  height: 820px;
}

iframe, object, embed {
        max-width: 100%;
        height: 600px;
}

md-sidenav {
    position: fixed !important;
}

.general-content{
    margin-top: 65px;
}

/*.md-display-1 {
    font-size: 24px;
}



.md-headline {
    font-size: 20px;
}*/

/*.content-bg{
  background: #fafafa;
}*/

.highlight-text{
  color: #0088ff;
}

.project-brief{
  font-size: 15px !important;
  letter-spacing: 0.04em !important;
  margin: 8px !important;
}

/*.content-container{
  background: #fafafa;
}*/

md-card-actions>.md-button{
    text-transform: capitalize !important;
    color: #0088ff !important;
}

/*md-card-content{
    max-height: 100px;
    overflow: hidden;
}*/

.project-card-content{
  max-height: 100px !important;
  overflow: hidden !important;
}

.md-list-item-text > h4{
  margin: 8px 0 1px !important;
  /*color: black !important;*/
  font-size: 15px !important;
  letter-spacing: 0.06em !important;
}

.md-display-1,
.md-display-2,
.md-display-3,
.md-headline {
    font-family: 'ProductSans-Regular';
    
}

.md-subhead {
    font-size: 13px !important;
    letter-spacing: 0.06em;
}

.md-body-1{
  color: #757575;
  letter-spacing: 0.04em;
}

.responsive {
    max-width: 100%;
}

.md-card-image {
    overflow-y: auto;
}
/*
md-content{
    background-image: url("../images/saathi/bg.jpg");
}*/

/*.md-card-video {
    overflow-y: auto;
    width: 100%;
}
*/
.clickable {
    cursor: pointer !important;
}

.click-cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transition-property: box-shadow, background-color;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1), cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: initial, initial;
}

.clickable:focus {
    cursor: pointer !important;
    outline: none;
}

.active {
/*    border-right: 4px solid rgb(255,64,129);
*/    border-right: 4px solid #0088ff;
}

md-toolbar {
    background-color: rgba(255,255,255,0.90) !important;
    color: rgb(0, 0, 0) !important;
}

.main-toolbar {
    position: fixed;
}

md-tabs-wrapper {
    background-color: rgba(255,255,255,0.90) !important;
    z-index: 1;
    position: fixed;
    /*top: 64px;*/
    width: 100%;
}

md-pagination-wrapper{
  top: 64px;
}

/*#0088ff*/
/*#00984C*/

md-ink-bar {
  background: #0088ff !important;
    height: 3px;
    /*bottom: auto;*/
}

md-tabs-content-wrapper {
    margin-top: 113px;
}

.toolbar-icons {
    color: rgb(0, 0, 0) !important;
}

.navigate-up {
    padding: 0px !important;
    width: initial !important;
}

md-list {
    padding: 0px;
}

.about-label{
  padding-left: 16px !important;
  color: rgb(0, 136, 255);
}

#profile-about{
  display: none;
}

#visible-about{
    display:none;
}

.profile > button {
    padding-top: 17px !important;
    padding-bottom: 17px !important;
    background: #ffffff;
}
.profile > button:hover {
    background: #ffffff !important;
}

.profile > button > div {
    font-size: 28px;
/*    color: #7AD3BE;
*/ 
    color: #000000;
   font-weight: 300;
   font-family: 'ProductSans-Regular';
}

.md-avatar {
    margin-top: 0px !important;
    width: 150px !important;
    margin-right: 0px !important;
    height: 150px !important;
}

md-list-item > a:hover,
md-list-item > button:hover {
    background-color: rgba(158, 158, 158, 0.09) !important;
    /*border-right: 4px solid #0088ff;*/
}

md-list-item > a {
    margin: 0px !important;
}

md-list-item > a > div {
    padding-top: 10px;
    padding-left: 10px;
}

md-list-item > button > div {
    /*padding-left: 10px;*/
}

md-grid-list {
    margin-left: 15px;
    margin-right: 15px;
}

md-grid-tile {
    background-repeat: no-repeat;
    background-size: contain;
}

/*.md-fab{
  background-color: #0088ff  !important;
  position: fixed;
  right: 2%;
  bottom: 2%;
}
*/
md-fab-speed-dial{
  /*background-color: #0088ff  !important;*/
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.project-fabs{
  height: 100%;
  width: 100%;
}

md-fab-trigger > .md-fab{
  background-color: #0088ff  !important;
}

md-fab-actions > .md-fab{
  background-color: white !important;
}

.use-case{
    /*padding-top: 20px;*/
}

.md-3-line{
    min-height: 0px !important;
}

/*.projects-type{*/


/*font-size: 30px;*/


/*font-weight: 300;*/


/*}*/

.projects-type-header {
    padding-left: 15px;
    padding-right: 15px;
}

.summary-header {
    margin: 0px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
}

md-tab-item>span {
    color: rgb(0, 0, 0);
}

md-tabs-wrapper{
  border-bottom: 0px !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

md-tabs-canvas {
    height: 112px !important;
}

.md-toolbar-tools{
  height: 64px !important;
  max-height: 64px !important;
}

#hidden-menu{
    display:none;
}

/*media quries*/

@media screen and (min-width: 640px) and (max-width: 960px) {
    /*md-tabs-wrapper {
        top: 48px;
    }*/

    iframe, object, embed {
        height: 400px;
    }
}


/*@media screen and (min-width: 640px) and (max-width: 925px) {
  md-tabs-wrapper{
    top: 48px;
  }
}

@media screen and (min-width: 415px) and (max-width: 640px) {
  md-tabs-wrapper{
    top: 48px;
  }
}
*/

@media screen and (min-width: 960px) and (max-width: 1280px) {
    iframe, object, embed {
        height: 550px;
    }
}

@media screen and (max-width: 640px) {
    /*md-tabs-wrapper {
        top: 56px;
    }*/

    iframe, object, embed {
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    iframe, object, embed {
        height: 150px;
    }
}

@media screen and (max-width: 1280px) {
    .projects-type-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1620px) {
    .content-container {
        margin-left: 20%;
    }

    iframe, object, embed {
        height: 650px;
    }
}

@media screen and (min-width: 1620px) {
    .content-container {
        margin-left: 320px;
    }
}
